@charset "UTF-8";

:root {

    /* CSS Body */
    --body-font-family: 'Open Sans', sans-serif;
    --body-background-one: #0F2027;  /* fallback for old browsers */
    --body-background-second: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    --body-background-third: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    --body-display: flex;
    --body-flex-direction: column;
    --body-align-items: center;

    /* CSS H1 */
    --h1-color: white;
    --h1-text-transform: uppercase;

    /* CSS Square */
    --square-width: 200px;
    --square-height: 200px;
    --square-background-color: #6dd5ed;
    --square-display: inline-block;

    /* CSS o */
    --o-position: relative;

    /* CSS o::after */
    --o-after-content: "O";
    --o-after-font-size: 150px;
    --o-after-color: #203A43;
    --o-after-line-height: 200px;
    --o-after-position: absolute;
    --o-after-top: 0;
    --o-after-right: 0;
    --o-after-bottom: 0;
    --o-after-left: 0;
    --o-after-display: flex;
    --o-after-justify-content: center;

    /* CSS x */
    --x-position: relative;

    /* CSS x::after */
    --x-after-content: "X";
    --x-after-font-size: 150px;
    --x-after-color: #203A43;
    --x-after-line-height: 200px;
    --x-after-position: absolute;
    --x-after-top: 0;
    --x-after-right: 0;
    --x-after-bottom: 0;
    --x-after-left: 0;
    --x-after-display: flex;
    --x-after-justify-content: center;

}

body {
    font-family: var(--body-font-family);
    background: var(--body-background-one);
    background: var(--body-background-second);
    background: var(--body-background-third);
    /* display: var(--body-display); */
    /* flex-direction: var(--body-flex-direction);
    align-items: var(--body-align-items); */
    display: flex;
    align-items: center;
    justify-content: center;
    
}

h1 {
    color: var(--h1-color);
    text-transform: var(--h1-text-transform);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.square {
    width: var(--square-width);
    height: var(--square-height);
    background-color: var(--square-background-color);
    display: var(--square-display);
}

.o {
    position: var(--o-position);
}

.o::after {
    display: var(--o-after-display);
    justify-content: var(--o-after-justify-content);
    content: var(--o-after-content);
    color: var(--o-after-color);
    font-size: var(--o-after-font-size);
    position: var(--o-after-position);
    line-height: var(--o-after-line-height);
    top: var(--o-after-top);
    right: var(--o-after-right);
    bottom: var(--o-after-bottom);
    left: var(--o-after-left);
}

.x {
    position: var(--x-position);
}

.x::after {
    display: var(--x-after-display);
    justify-content: var(--x-after-justify-content);
    content: var(--x-after-content);
    color: var(--x-after-color);
    font-size: var(--x-after-font-size);
    position: var(--x-after-position);
    line-height: var(--x-after-line-height);
    top: var(--x-after-top);
    right: var(--x-after-right);
    bottom: var(--x-after-bottom);
    left: var(--x-after-left);
}

.inputs {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.display {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.3rem;
    margin: auto;
}

.item {
    order: 1;
}

.item-1 {
    order: 2;
}

button {
    margin-top: 4rem;
    background-color: #2C5364;
    color: white;
    border: none;
    padding: 1rem;
}

input {
    margin-bottom: 4rem;
    font-size: 1rem;
    padding: 0.5rem;
    background-color: #0F2027;
    border: none;
}




